body {
    background-color: #4A8C8C;
    margin: auto;
    padding: auto;
}

.center {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    margin-left: 39px;
    margin-right: 31px;
    margin-top: -86px;
}

nav div {
    flex: 1;
    text-align: center;
    justify-content: space-between;
}

.nav-item {
    color: #402132;
    text-decoration: none;
    background-color: #F2E2C4;
    padding: 15px 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #402132;
}

.nav-item:hover {
    background-color: #A64444;
    color: #F2E2C4;
}