* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#front-wheel,
#left-wheel {
    transform-origin: center;
    animation: wheel 2s infinite linear;
    transform-box: fill-box;
}

#bike {
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#man {
    animation: bike 2s ease-in-out infinite alternate;
    transform-origin: bottom;    
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}